In [1]:
import numpy as np
import polars as pl
import polars.selectors as cs
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import great_tables as tg
import altair as alt

In [2]:
dataset_path = r'../DATASETS/Position_Salaries.csv'

In [3]:
dataset = pl.read_csv(dataset_path)

In [4]:
dataset.head()

shape: (5, 3)
┌───────────────────┬───────┬────────┐
│ Position          ┆ Level ┆ Salary │
│ ---               ┆ ---   ┆ ---    │
│ str               ┆ i64   ┆ i64    │
╞═══════════════════╪═══════╪════════╡
│ Business Analyst  ┆ 1     ┆ 45000  │
│ Junior Consultant ┆ 2     ┆ 50000  │
│ Senior Consultant ┆ 3     ┆ 60000  │
│ Manager           ┆ 4     ┆ 80000  │
│ Country Manager   ┆ 5     ┆ 110000 │
└───────────────────┴───────┴────────┘