In [1]:
import numpy as np
import polars as pl
import polars.selectors as cs
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import great_tables as tg
import altair as alt

In [2]:
df_path = r'../DATASETS/Mall_Customers.csv'

In [3]:
df = pl.read_csv(df_path)

In [4]:
df

shape: (200, 5)
┌────────────┬────────┬─────┬────────────────────┬────────────────────────┐
│ CustomerID ┆ Genre  ┆ Age ┆ Annual Income (k$) ┆ Spending Score (1-100) │
│ ---        ┆ ---    ┆ --- ┆ ---                ┆ ---                    │
│ i64        ┆ str    ┆ i64 ┆ i64                ┆ i64                    │
╞════════════╪════════╪═════╪════════════════════╪════════════════════════╡
│ 1          ┆ Male   ┆ 19  ┆ 15                 ┆ 39                     │
│ 2          ┆ Male   ┆ 21  ┆ 15                 ┆ 81                     │
│ 3          ┆ Female ┆ 20  ┆ 16                 ┆ 6                      │
│ 4          ┆ Female ┆ 23  ┆ 16                 ┆ 77                     │
│ 5          ┆ Female ┆ 31  ┆ 17                 ┆ 40                     │
│ …          ┆ …      ┆ …   ┆ …                  ┆ …                      │
│ 196        ┆ Female ┆ 35  ┆ 120                ┆ 79                     │
│ 197        ┆ Female ┆ 45  ┆ 126                ┆ 28                     │
│ 198        ┆ Male   ┆ 32  ┆ 126                ┆ 74                     │
│ 199        ┆ Male   ┆ 32  ┆ 137                ┆ 18                     │
│ 200        ┆ Male   ┆ 30  ┆ 137                ┆ 83                     │
└────────────┴────────┴─────┴────────────────────┴────────────────────────┘