In [1]:
import numpy as np
import polars as pl
import polars.selectors as cs
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import great_tables as tg
import altair as alt

In [2]:
df_path =r'../DATASETS/Social_Network_Ads.csv'

In [3]:
df = pl.read_csv(df_path)

In [4]:
df

shape: (400, 3)
┌─────┬─────────────────┬───────────┐
│ Age ┆ EstimatedSalary ┆ Purchased │
│ --- ┆ ---             ┆ ---       │
│ i64 ┆ i64             ┆ i64       │
╞═════╪═════════════════╪═══════════╡
│ 19  ┆ 19000           ┆ 0         │
│ 35  ┆ 20000           ┆ 0         │
│ 26  ┆ 43000           ┆ 0         │
│ 27  ┆ 57000           ┆ 0         │
│ 19  ┆ 76000           ┆ 0         │
│ …   ┆ …               ┆ …         │
│ 46  ┆ 41000           ┆ 1         │
│ 51  ┆ 23000           ┆ 1         │
│ 50  ┆ 20000           ┆ 1         │
│ 36  ┆ 33000           ┆ 0         │
│ 49  ┆ 36000           ┆ 1         │
└─────┴─────────────────┴───────────┘